#outer-card {
  width: 1024px;
  min-height: 812px;
  border-radius: 30px;
  margin: 0 0;
  padding-top: 50px;
  background-color: rgba(92, 0, 136, 1);
  box-shadow: 0 4px 35px 40px rgba(0, 0, 0, 0.25);
}

p {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 14pt;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  margin: 10px 20px;
  padding: 5px;
  text-align: center;
  background-color: #3b0057;
  border-radius: 10px;
  font-weight: bold;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  background: #46006c;
  border-radius: 10px;
  font-weight: bold;
}

mat-card{
  width: 882px;
  border-radius: 30px;
  margin: 25px auto;
  background-color: rgba(92, 0, 136, 1);
  box-shadow: 0 4px 35px 40px rgba(0, 0, 0, 0.25);
}

mat-card-content{
  display: flex;
  flex-direction: row;
}

button{
  height: 50px !important;
  font-size: 16pt;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

li {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 30px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-checkbox {
  font-size: 14pt;
}



