.headnav {
  display: flex;
  flex-direction: row;
  margin: 0 auto -60px auto;
  z-index: 1;
}

.spacer {
  width: 75px;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 23px;
  color: white;
  width: 208px ;
  height: 61px !important;
  margin: 0 35px !important;
  align-self: center;
}

#inline-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width: 260px;
}

#inline-buttons button {
  margin: 5px;
  flex-flow: column wrap;
}





