<div class="headnav">
  <div class="spacer"></div>
  <button color="default"
          mat-raised-button
          routerLink="/quickSetup"
          routerLinkActive="mat-primary"
          type="button">Quick setup
  </button>
  <button color="selected"
          mat-raised-button
          routerLink="/basic"
          routerLinkActive="mat-primary"
          type="button">Basic
  </button>
  <button color="default"
          mat-raised-button
          routerLink="/advanced"
          routerLinkActive="mat-primary"
          type="button">Advanced
  </button>
  <div id="inline-buttons">
    <button color="default"
            mat-raised-button
            routerLinkActive="mat-primary"
            type="button">Login
    </button>
    <button color="default"
            mat-raised-button
            routerLinkActive="mat-primary"
            type="button">Reboot
    </button>
  </div>
</div>
