header{
  display: flex;
  width: 1024px;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto -60px;
  z-index: 1;
}

.logo{
  display: flex;
  position: absolute;
  height: 150px;
  left: calc(50% - 745px);
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 72pt;
  font-weight: bold;
  color: rgba(173, 0, 255, 1);
  align-items: center;
  margin: 0 50px;
}

button {
  margin: 0 1% !important;
}

#inline-buttons {
  display: flex;
  gap: 9px;
  align-items: center;
  flex-direction: column;
  width: 20%;
  //max-width: 200px;
  margin: 0 1%;
  justify-content: center;
}

#inline-buttons button {
  margin: 5px;
  flex-flow: column wrap;
  width: 100% !important;
}





