header{
  display: flex;
  flex-direction: row;
  margin: 0 auto -60px;
  z-index: 1;
}

.logo{
  display: flex;
  width: 15vw;
  height: 150px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 72pt;
  color: rgba(173, 0, 255, 1);
  align-items: center;
  justify-content: center;
  margin-right: 2vmin;
}

.spacer{
  width: 15vw;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 23px;
  color: white;
  width: 15vw;
  max-width: 200px;
  min-width: 150px;
  margin: 0 1% !important;
  height: 55px !important;
  align-self: center;
  border-radius: 13px;
}

#inline-buttons {
  display: flex;
  gap: 9px;
  align-items: center;
  flex-direction: column;
  width: 15vw;
  margin-left: 1%;
  justify-content: center;
}

#inline-buttons button {
  margin: 5px;
  flex-flow: column wrap;
}





