.outer-advanced {
  display: flex;
  flex-direction: column;
  margin-left: -300px;
}

.advanced{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

mat-expansion-panel {
  width: 200px;
  border-radius: 13px;
  background-color: #260038;
  align-self: center;
  display: flex;
  flex-direction: column;
  mat-expansion-panel-header {
    height: 61px;
    background-color: #3b0057;
    mat-panel-title {
      font-family: 'Inter', sans-serif;
      font-style: italic;
      font-size: 23px;
      display: flex;
      justify-content: center;
    }
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }
  button {
    margin: 10px 0;
  }
}




