mat-expansion-panel {
  border-radius: 13px;
  background-color: #260038;
  align-self: center;
  display: flex;
  flex-direction: column;
  mat-expansion-panel-header {
    height: 61px;
    background-color: #3b0057;
    mat-panel-title {
      font-family: 'Inter', sans-serif;
      font-style: italic;
      font-size: 23px;
      display: flex;
      justify-content: center;
    }
  }
  button {
    margin: 10px 0;
  }
}




