<div class="outer-basic">
  <div class="basic">
    <div class="side-nav">
      <button color="primary"
              mat-raised-button
              routerLink="/advanced/status"
              routerLinkActive="mat-accent"
              type="button">Status
      </button>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Network
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button color="primary"
                mat-raised-button
                routerLink="/advanced/wan"
                routerLinkActive="mat-accent">WAN
        </button>
<!--        <button color="primary"-->
<!--                mat-raised-button-->
<!--                routerLink="/advanced/mac-clone"-->
<!--                routerLinkActive="mat-accent">MAC Clone-->
<!--        </button>-->
      </mat-expansion-panel>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
