#outer-card {
  margin: 0 auto !important;
}

button{
  height: 50px !important;
  font-size: 16px;
}

p {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  color: white;
  text-align: center;
  display: inline-block;
}

.mat-stepper-horizontal {
  border-radius: 20px;
  background-color: #3b0057;
  min-width: 400px;
  width: 100%;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

#timezone{
  width: 100%;
}

.wan-conn-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wan-conn-radioBtn {
  margin: 5px;
}

#wan-connection-label {
  font-size: 15px;
}

.detectBtn {
  margin: 20px;
}
ul {
  list-style: none;
}
li {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

span {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 1400px) {
  #inner-card {
    width: 70vw;
    min-width: 280px;
  }
  .mat-stepper-vertical {
    min-width: 118px;
    width: 100%;
    border-radius: 20px;
    background-color: #3b0057;
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-weight: 100;
  }

  button {
    min-height: 25px !important;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  li {
    margin: 0 auto;
  }
  #outer-card {
    width: 80vw;
  }
}
