
p {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 14pt;
  color: white;
  margin: 22px auto;
  text-align: center;
}

.earth-div {
  width: 102px;
  height: 120px;
  position: relative;
  margin: 30px;

  #x {
    height: 42px;
    width: 42px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.map-line{
  width: 170px;
  height: 3px;
  background-color: gray;
  margin-top: 100px;
}

.router-div {
  width: 144px;
  height: 106px;
  margin: 30px;
}

.client-div {
  width: 150px;
  height: 110px;
  margin: 30px;
}

.wired-clients-div {
  height: 200px;
  width: 210px;
  margin: 30px;
  cursor: pointer;
}

.wired-clients-div :hover {
  filter: drop-shadow(0 0 0.75rem #d9d9d9);
}

.inner-window {
  width: 500px;
  height: 3vw !important;
  background: #5c0091;
  display: none;
  position: fixed;
  border-radius: 13px;
  z-index: 999;
}

.inner-window-header {
  height: 30px;
  width: 100%;
  background: #2d0046;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  border-radius: 13px 13px 0 0;
}
.move {
  height: 100%;
  width: 100%;
}
.x {
  height: 100%;
  aspect-ratio: 1/1;
  background: red;
  border-radius: 5px;
}

.inner-window-content {
  overflow: auto;
  border-radius: 0 0 13px 13px;
  width: 100%;
  background: #000;
}

mat-table {
  font-size: 14pt;
  margin: 10px 0;
  background: inherit;
}

td > * {
  border-radius: 13px;
  align-content: center;
  display: flex; align-items: center; height: inherit;
}

.wan-div {
  width: 100px;
  height: 200px;
  margin: 40px 50px;
}

.wireless-div {
  width: 100px;
  height: 200px;
  margin: 40px;
}

.wireless-clients-div {
  width: 100px;
  height: 200px;
  margin: 30px;
}

