p {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 14pt;
  color: white;
  margin: 20px 0;
  text-align: center;
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  max-height: 250px;
}

.option-container img {
  height: 12vw;
  max-height: 100px;
}

.earth-img-wrap {
  position: relative;
  #earth {
    max-height: 100px;
  }
  #x {
    height: 40%;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.map-line{
  width: 8vw;
  max-width: 200px;
  height: 3px;
  background-color: gray;
  position: relative;
  top: 40%;
}

.map-line-wrap {
  height: 12vw;
  max-height: 250px;
}

.router-img-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  height: 12vw;
}

.wireless-clients-div img{
  position: relative;
  left: -5%;
}

.wired-clients-div :hover,
.wan-div :hover,
.wireless-div :hover,
.wireless-clients-div :hover {
  filter: drop-shadow(0 0 0.5rem #d9d9d9);
}

.inner-window {
  background: #5c0091;
  position: fixed;
  border-radius: 13px;
  z-index: 999;
}

.inner-window-header {
  height: 30px;
  width: 100%;
  background: #2d0046;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  border-radius: 13px 13px 0 0;
}
.move {
  height: 100%;
  width: 100%;
  cursor: grab;
}
.x {
  height: 100%;
  aspect-ratio: 1/1;
  background: red;
  border-radius: 5px;
  cursor: pointer;
}

.inner-window-content {
  overflow: auto;
  border-radius: 0 0 13px 13px;
  width: 100%;
  background: #000;
}

mat-table {
  font-size: 14pt;
  margin: 10px 0;
  background: inherit;
}

th mat-text-column{
  background: #2a2a2a;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  background: #46006c;
  border-radius: 10px;
  font-weight: bold;
}

.wireless-clients-div {
  max-width: 100px;
}

@media only screen and (max-width: 1000px) {
  .map-line-wrap {
    display: none;
  }
  .map-line {
    display: none;
  }
  p {
    margin: 2vw 0;
  }
  .tab1 {
    width: 30%;
    max-width: 30%;
  }
  .tab2 {
    width: 50%;
    max-width: 50%;
  }

}
