<mat-card id="outer-card">
  <mat-card>
    <mat-card-content >
      <div class="earth-div">
        <img [src]="earthPath" alt="Internet" id="earth" />
        <img [src]="xPath" alt="Disconnected" id="x" *ngIf="disconnected"/>
        <p>Internet</p>
      </div>
      <div class="map-line"></div>
      <div class="router-div">
        <img [src]="routerPath" alt="Router" id="router" />
        <p>Router</p>
      </div>
      <div class="map-line"></div>
      <div class="client-div">
        <img [src]="clientPath" alt="Client" id="client" />
        <p>Client</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="wired-clients-div">
        <img [src]="wiredClientsPath" alt="wiredClients" />
        <p>Wired Clients</p>
      </div>
      <div class="wan-div">
        <img [src]="wanPath" alt="wan">
        <p>WAN</p>
      </div>
      <div class="wireless-div">
        <img [src]="wirelessPath" alt="wireless" />
        <p>Wireless</p>
      </div>
      <div class="wireless-clients-div">
        <img [src]="wirelessClientsPath" alt="wirelessClients">
        <p>Wireless Clients</p>
      </div>
    </mat-card-content>
  </mat-card>
</mat-card>
