<div class="outer-basic">
  <div class="basic">
    <div class="side-nav">
      <button color="default"
              mat-raised-button
              routerLink="/basic/network"
              routerLinkActive="mat-primary"
              type="button">Network
      </button>
      <button color="default"
              mat-raised-button
              routerLink="/basic/internet"
              routerLinkActive="mat-primary"
              type="button">Internet
      </button>
      <button color="default"
              mat-raised-button
              routerLink="/basic/wireless"
              routerLinkActive="mat-primary"
              type="button">Wireless
      </button>
      <button color="default"
              mat-raised-button
              routerLink="/basic/guest-net"
              routerLinkActive="mat-primary"
              type="button">Guest Net
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
