<mat-card id="login-card">
  <form (keydown.enter)="onSubmit(loginForm)" (submit)="onSubmit(loginForm)" #loginForm="ngForm">
    <span id="greet">
      <b>Log in</b>
    </span>
      <mat-form-field>
        <input
          matInput
          type="user"
          name="user"
          placeholder="Login"
          ngModel
          required/>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          name="password"
          placeholder="Password"
          ngModel
          required/>
      </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" id="Submit">Submit</button>
    </mat-card-actions>
  </form>
</mat-card>
