#login-card{
  position: relative;
  margin: 5rem auto;
  width: 75vw;
  max-width: 650px;
  aspect-ratio: 2/1;
  border-radius: 21px;
  padding: 4vh 0;
  background-color: rgba(92, 0, 136, 1);
  box-shadow: 0 4px 35px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}
#greet {
  font-size: 32px;
  font-style: normal;
  letter-spacing: .1rem;
}
form {
  margin: auto;
  display: flex;
  flex-direction: column;
}
mat-card-actions {
  display: flex;
  flex-direction: column;
}
#Submit {
  min-width: 100px;
  width: 50vw !important;
  max-width: 500px;
  height: 50px !important;
  padding: 10px;
  font-size: 3vh;
  font-style: normal;
  font-weight: 900;
}
