#outer-card {
  max-width: 1024px;
  width: 60vw;
  min-width: 350px;
  border-radius: 30px;
  margin: 0 0;
  padding-top: 50px;
  background-color: rgba(92, 0, 136, 1);
  box-shadow: 0 4px 35px 40px rgba(0, 0, 0, 0.25);
}

mat-card{
  width: 90%;
  border-radius: 30px;
  margin: 25px auto;
  background-color: rgba(92, 0, 136, 1);
  box-shadow: 0 4px 35px 40px rgba(0, 0, 0, 0.25);
}

mat-card-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

mat-form-field {
  margin-top: 20px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  margin: 75px 40px;
  gap: 20px;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 900;
  color: #D9D9D9 !important;
  width: 200px !important;
  height: 61px !important;
  align-self: center;
  border-radius: 1rem;
}

p {
  color: #D9D9D9;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}

li p:first-child {
  font-weight: 400;
}

.side-nav button{
  width: 15vw !important;
  max-width: 200px;
}

@media only screen and (max-width: 1000px){
  .side-nav {
    display: none;
  }
}

@media only screen and (max-width: 1600px) {
  .side-nav {
    margin: 75px 2.5vw;
    button {
      //max-width: 10vw;
    }
  }
}
