.outer-basic {
  display: flex;
  flex-direction: column;
  margin-left: -280px;
}

.basic {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.side-nav {
  display: flex;
  flex-direction: column;
  margin: 75px 40px;
  gap: 20px;
}
.side-nav > *{
  width: 15vw !important;
  max-width: 200px;
}

#outer-card {
  max-width: 1024px;
  width: 60vw;
  min-width: 350px;
  border-radius: 30px;
  margin: 0 0;
  padding-top: 45px;
  background-color: rgba(92, 0, 136, 1);
  box-shadow: 0 4px 35px 40px rgba(0, 0, 0, 0.25);
}

mat-card{
  width: 90%;
  border-radius: 30px;
  margin: 25px auto;
  background-color: rgba(92, 0, 136, 1);
  box-shadow: 0 4px 35px 40px rgba(0, 0, 0, 0.25);
}

mat-card-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-checkbox {
  font-size: 14pt;
}

mat-form-field {
  margin-top: 20px;
}

button {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 24px;
  font-weight: 900;
  width: 200px !important;
  height: 61px !important;
  align-self: center;
  border-radius: 1rem;
}

ul ul {
  margin: 0;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 15px 1vw;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 1.5vw;
}

li p:first-child {
  font-weight: 400;
}

#detectBtn, #save {
  margin-left: 4vw;
}

mat-button-toggle-group {
  min-width: 108px;
  max-height: 36px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  margin: 10px 20px;
  padding: 5px;
  text-align: center;
  background-color: #3b0057;
  border-radius: 10px;
  font-weight: bold;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 23px;
  text-align: center;
  margin: 10px;
  padding: 5px;
  background: #46006c;
  border-radius: 10px;
  font-weight: bold;
}

p {
  color: #D9D9D9;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}


#releaseBtn {
  height: 2rem !important;
  width: 9vw !important;
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 1600px) {
  .side-nav {
    margin: 50px 2.5vw;
  }
  .outer-basic {
    margin-left: -20vw;
  }
}
@media only screen and (max-width: 1000px){
  .side-nav {
    display: none;
  }
  .outer-basic {
    margin: 0;
  }
  #outer-card {
    width: 90vw;
  }
}
