<mat-card id="outer-card">
  <mat-card>
    <div id="highHeader"><h1>MAC Clone</h1></div>
    <mat-divider></mat-divider>
    <ul>
      <li>
        <p>WAN MAC Address: </p>
        <mat-form-field>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary">Restore Factory MAC</button>
      </li>
      <li>
        <p>Your PC's MAC Address: </p>
        <mat-form-field>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary">Clone MAC Address</button>
      </li>
    </ul>
  </mat-card>
</mat-card>
