@use "@angular/material" as mat;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'theme.scss';

@include mat.core();

$primary: mat.define-palette($md-primary-palette);
$accent: mat.define-palette($md-accent-palette);

$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.all-component-themes($theme);

html, body { height: 100%; }

body {
  background-color: rgba(38, 0, 55, 1);
  //rgba(55, 0, 81, 1);
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  color: white;
  display: block;
}


