@use "@angular/material" as mat;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'theme.scss';

@include mat.core();

$primary: mat.define-palette($md-primary-palette);
$accent: mat.define-palette($md-accent-palette);

$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.all-component-themes($theme);

html, body { height: 100%; }

body {
  background-color: rgba(38, 0, 55, 1);
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  display: block;
}

.dialog-panel,
  .mat-mdc-dialog-container,
  .mdc-dialog__container,
  .mat-mdc-dialog-surface {
  background-color: red;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel {
  width: 100px;
  max-width: 100px !important;
  min-width: 100px !important;
  padding: 0;
  background: #2d0046;
  button {
    max-width: 100px;
  }
}
