
$md-primary-palette: (
  50 : #e7e0eb,
  100 : #c4b3cd,
  200 : #9d80ab,
  300 : #764d89,
  400 : #582670,
  500 : #3b0057,
  600 : #35004f,
  700 : #2d0046,
  800 : #26003c,
  900 : #19002c,
  A100 : #aa65ff,
  A200 : #8e32ff,
  A400 : #7200fe,
  A700 : #6600e5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$md-accent-palette: (
  50 : #eee0f4,
  100 : #d4b3e3,
  200 : #b780d1,
  300 : #9a4dbf,
  400 : #8526b1,
  500 : #6f00a3,
  600 : #67009b,
  700 : #5c0091,
  800 : #520088,
  900 : #400077,
  A100 : #cea5ff,
  A200 : #b372ff,
  A400 : #983fff,
  A700 : #8a25ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
