<mat-card id="outer-card">
  <mat-card>
    <mat-card-content>
      <div class="connectionType">
        <p>WAN Connection Type:</p>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="selected" (selectionChange)="onSelect($event)">
            <mat-option [value]="option" *ngFor="let option of connectOptions">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="onDetect()">Detect</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="selected == connectOptions[0]">
    <mat-card-content>
      <ul>
        <li class="propName" *ngFor="let element of ipConfig">
          <div class="props">
            <p>{{element.name}}</p> <p>{{element.value}}</p>
          </div>
          <div class="secProps" *ngIf="element.name == 'Default Gateway:'">
            <mat-card-actions >
              <button mat-raised-button color="accent" disabled (click)="onRenew()">Renew</button>
              <button mat-raised-button color="accent" (click)="onRelease()">Release</button>
            </mat-card-actions>

            <mat-checkbox [(ngModel)]="useAnotherDNS">Use these DNS:</mat-checkbox>

          </div>
        </li>
      </ul>
    </mat-card-content>

  </mat-card>

  <mat-card *ngIf="selected == connectOptions[1]">
    <mat-card-content>
      <ul>
        <li class="propName" >

        </li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card-actions>
    <button id="save" mat-raised-button color="accent" (click)="onSave()">Save</button>
  </mat-card-actions>
</mat-card>

