<mat-card id="outer-card">

  <mat-card>
    <mat-card-content>
      <div class="connectionType">
        <p>WAN Connection Type:</p>
        <mat-form-field appearance="outline" id="selector">
          <mat-select [(value)]="selected" (selectionChange)="onSelect($event)">
            <mat-option [value]="option" *ngFor="let option of connectOptions">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="onDetect()">Detect</button>
      </div>
    </mat-card-content>
  </mat-card>

  <form #ipForm="ngForm" (submit)="onSubmit(ipForm)">
    <mat-card *ngIf="selected == connectOptions[0]">
      <mat-card-content>
        <ul>
          <li *ngFor="let element of ipConfig">
            <p>{{element.name}}</p> <p>{{element.value}}</p>
          </li>
          <mat-card-actions>
            <button mat-raised-button color="accent" [disabled]="renewDisable" (click)="onRenew()">Renew</button>
            <button mat-raised-button color="accent" (click)="onRelease()">Release</button>
          </mat-card-actions>
          <mat-checkbox name="check" [(ngModel)]="useAnotherDNS">Use these DNS:</mat-checkbox>
          <li>
            <p>{{DNS[0].name}}</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                minlength="7"
                maxlength="15"
                size="15"
                name="primaryDNS"
                [(ngModel)]="primaryDNS"
                [value]="DNS[0].value"
                [disabled]="!useAnotherDNS"/>
            </mat-form-field>
          </li>
          <li>
            <p>{{DNS[1].name}}</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                minlength="7"
                maxlength="15"
                size="15"
                name="secondaryDNS"
                [(ngModel)]="secondaryDNS"
                [value]="DNS[1].value"
                [disabled]="!useAnotherDNS"/>
            </mat-form-field>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="selected == connectOptions[1]">
      <mat-card-content>
        <ul>
          <li>
            <p>{{ipConfig[0].name}}</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                minlength="7"
                maxlength="15"
                size="15"
                [name]="ipConfig[0].name"
                [(ngModel)]="ipConfig[0].value"
                [value]="ipAddress" />
            </mat-form-field>
          </li>
          <li>
            <p>{{ipConfig[1].name}}</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                minlength="7"
                maxlength="15"
                size="15"
                [name]="ipConfig[1].name"
                [(ngModel)]="ipConfig[1].value"
                [value]="subnetMask" />
            </mat-form-field>
          </li>
          <li>
            <p>{{ipConfig[2].name}}</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                [name]="ipConfig[2].name"
                minlength="7"
                maxlength="15"
                size="15"
                [(ngModel)]="ipConfig[2].value"
                [value]="defaultGateway" />
            </mat-form-field>
          </li>
          <li>
            <p>{{DNS[0].name}}</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                [name]="DNS[0].name"
                [(ngModel)]="DNS[0].value"
                [value]="DNS[0].value" />
            </mat-form-field>
          </li>
          <li>
            <p>{{DNS[1].name}}</p>
            <mat-form-field appearance="outline">
              <input
                matInput
                [name]="DNS[1].name"
                [(ngModel)]="DNS[1].value"
                [value]="DNS[1].value" />
            </mat-form-field>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card-actions>
      <button id="save" mat-raised-button color="accent" type="submit">Save</button>
    </mat-card-actions>
  </form>
</mat-card>

